.alert {
    content: "";
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.25s;
    color: white;
    margin-right: 5px;
    background-image: url("../../alert.svg");
}

.bolinhas {
    display: flex;
    justify-content: center;
}

.naoMandouBase {
    th {
        background-color: #A40F21 !important;
        color: white
    }
}

.Sinalicao {
    max-width: 2em !important;
}

.Limite {
    max-width: 5em !important;
}

.Numero {
    min-width: 10em;
    max-width: 20em;
}

.Nome {
    max-width: 38em;
    width: 38em;
}

input {
    background-color: #08D1CE !important;
    width: 15px !important;
    height: 15px !important;
}